$handWritten: 'Indie Flower', cursive;
$regular: 'Quicksand', sans-serif;

$lightest: hsl(55, 15%, 86%);
$light: hsl(89, 37%, 74%);
$nuetralMed: hsl(90, 8%, 61%);
$satMed: hsl(113, 11%, 54%);
$medDeep: hsl(89, 19%, 34%);
$deep: hsl(56, 13%, 22%);
$darkAcc: hsl(334, 100%, 10%);
$darkest: hsl(60, 36%, 5%);
