@import '../../styling/variables.scss';

.StoryPage {
  font-family: $handWritten;
  font-size: 3rem;
  padding: 10vh;
  color: $light;
  background-color: $deep;
  button {
    background-color: $satMed;
    color: $deep;
    font-size: 2rem;
    border: 7px outset $satMed;
    border-radius: .5rem;
    margin: 1vh;
    padding: .5vh;
    margin-top: 10vh;
  }
  button:focus {
    outline: none;
    background-color: $nuetralMed;
  }
  .storyTiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
