@import '../../styling/variables.scss';

.StoryPage {
  font-family: $handWritten;
  font-size: 3rem;
  padding: 10vh;
  color: $light;
  background-color: $deep;
  button {
    background-color: $satMed;
    color: $deep;
    font-size: 2rem;
    border: 7px outset $satMed;
    border-radius: .5rem;
    margin: 2vh;
    width: 100%;
    padding: .5vh;
  }
  button:focus {
    outline: none;
    background-color: $nuetralMed;
  }
  footer {
    display: flex;
    flex-direction: row;
    .buttonPanel {
      margin: 1vw;
      width: 30vw;
      display: flex;
      flex-direction: column;
    }
    .storyTiles {
      margin: 1vw;
      display: flex;
      flex-direction: row;
      overflow: scroll;
    }
  }
}
