.WelcomePage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 30vh;
  height: 40vh;
  font-size: 2rem;
  align-items: center;
  a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    border: 1px solid black;
    border-radius: .5rem;
    height: 1.5rem;
    width: 25vw;
    margin: 1vh;
    padding: .5vh;
  }
  p {
    margin: 1vh;
  }
}
